body {
    background-color: #03365b;
    background-image:url('background.png');
    background-repeat:repeat-x;
}

#center-container {
    margin-left: 140px;
    width: 740px;
    border-left-style: solid;
    border-color: rgba(255,255,255,0.3);
    border-width:1px;
    
}

#intro {
    font-family:  Chaparral Pro;
    font-size: 28px;
    line-height: 32px;
    color: #ffffff;
    text-shadow: #000000 0px 2px 2px;
}

#logo {
    background-image:url('logo.png');
    width: 635px;
    height: 358px;
}
  
.main-text {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-family:  Chaparral Pro;
}
  
#footer {
    font-family:  Chaparral Pro;
    font-size: 26px;
    line-height: 28px;
    color: #ffffff;
}  

a {
    color: #db8533
}

a:hover {
    color: #e7b17d;
}

a:active {
    position: relative;
    top: 1px;
}

